.color-picker-heading{
  font-weight: bold;
  font-size: 35px;
  color: rgb(3, 12, 59); 
}
.app-container {
  width: 100vw; 
  height: 100vh; 
  margin: 0;
  background-color: rgb(247, 189, 240);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-repeat: no-repeat;
}